Source: caffeine-reloaded
Section: misc
Priority: optional
Maintainer: Brian Beffa <brbsix@gmail.com>
Build-Depends: debhelper (>= 8), dh-python, gettext, python3-all, python3-setuptools
Standards-Version: 3.9.5
Homepage: https://github.com/brbsix/caffeine-reloaded

Package: caffeine-reloaded
Architecture: all
Depends:${misc:Depends}, ${python3:Depends},
    gir1.2-gtk-3.0, gir1.2-appindicator3-0.1, libappindicator3-1, libnet-dbus-perl, python3-pkg-resources, python3-xlib
Conflicts: caffeine
Description: Prevent the desktop becoming idle in fullscreen mode
 ‘caffeine’ stops the desktop becoming idle when an application
 is running full-screen. Status bar indicator ‘caffeine-indicator’
 supplies an auto or manual toggle, and ‘caffeinate’ can be used
 to prevent idleness for the duration of any command.
